/* src/styles.css */

/* 1. Import Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Montserrat:wght@700;900&family=Roboto:wght@300;400;700&display=swap');

/* 2. Include Tailwind's base, components, and utilities */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* 3. Add your custom base styles and utility classes */
@layer base {
  body {
    font-family: 'Roboto', sans-serif;
    background-color: #12181f;
  }
}

@layer utilities {
  .montserrat {
    font-family: 'Montserrat', sans-serif;
  }
  .font-anton {
    font-family: 'Anton', sans-serif;
  }
  
  /* Hide scrollbar for the carousel, but allow scrolling */
  .no-scrollbar::-webkit-scrollbar {
      display: none;
  }
  .no-scrollbar {
      -ms-overflow-style: none;  /* IE and Edge */
      scrollbar-width: none;     /* Firefox */
  }
}